<p>header works!</p>
<header class="d-flex justify-content-between align-items-center p-3 bg-light">
  <div>
    <h1>MyHelpDesk</h1>
    <p>Bienvenu dans votre application de gestion des tickets</p>
  </div>
  <div>
    <button class="btn btn-primary" (click)="login()">Se connecter</button>
    <button class="btn btn-success" (click)="register()">S'inscrire</button>
  </div>
</header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Fonctionnalités</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ressources</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>
