<div class="login-container">
  <div class="contact-form">
    <h2>Connexion</h2>
    <form (ngSubmit)="onLogin()">
      <div class="form-group">
        <label for="email"><fa-icon [icon]="'envelope'"></fa-icon> Adresse e-mail</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" required>
      </div>
      <div class="form-group">
        <label for="password"><fa-icon [icon]="'lock'"></fa-icon> Mot de passe</label>
        <div class="password-container">
          <input [type]="passwordFieldType" id="password" name="password" [(ngModel)]="password" required>
          <fa-icon [icon]="passwordFieldIcon" (click)="togglePasswordVisibility()" class="password-toggle"></fa-icon>
        </div>
      </div>
      <button type="submit">Se connecter</button>
    </form>
    <div class="login-actions">
      <button mat-button class="secondary-button">Mot de passe oublié ?</button>
      <span>ou</span>
      <button mat-button class="primary-button">Créer un compte</button>
    </div>
  </div>
</div>
